html, body {
	height: 100%;
	/* padding-top: 50px;
    padding-bottom: 20px; */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 30px;
    background-color: #f5f5f5;
}

/* END Sticky footer styles  */

.col-centered{
    float: none;
    margin: 0 auto;
}

.table-striped > tbody > tr:nth-child(odd) > td{
    background-color: #f3f3f3;
}

.table-hover > tbody > tr:hover > td{
    background-color: #eaeaea;
}

.fa{
	width: 10px;
}