body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.table-striped > tbody > tr:nth-child(odd) > td{
    background-color: #f3f3f3;
}

.table-hover > tbody > tr:hover > td{
    background-color: #eaeaea;
}

.fa{
	width: 10px;
}